body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
}
#loading-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#loading-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fade-out {
    opacity: 0;
    transition: opacity .6s ease;
}